<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:${dir-separator}temp${dir-separator}nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <!--File logging -->
    <target xsi:type="File"
            name="fileTarget"
            fileName="OpenDirectoryDownloader.log"
            archiveFileName="LogArchives${dir-separator}OpenDirectoryDownloader.{##}.log"
            archiveAboveSize="5242880"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} ${pad:padding=4:fixedlength=true:[${threadid}]} ${pad:padding=5:fixedlength=true:${uppercase:${level}}} ${callsite:className=true:includeNamespace=false:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false:methodName=true} ${message} ${exception:format=ToString,Data}">
    </target>
    <target xsi:type="File"
            name="historyFileTarget"
            fileName="History.log"
            archiveFileName="LogArchives${dir-separator}History.{##}.log"
            archiveAboveSize="5242880"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} ${pad:padding=4:fixedlength=true:[${threadid}]} ${pad:padding=5:fixedlength=true:${uppercase:${level}}} ${callsite:className=true:includeNamespace=false:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false:methodName=true} ${message} ${exception:format=ToString,Data}">
    </target>
    
    <!-- Console logging -->
    <target xsi:type="ColoredConsole"
            name="coloredConsole"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} ${pad:padding=4:fixedlength=true:[${threadid}]} ${pad:padding=5:fixedlength=true:${uppercase:${level}}} ${callsite:className=true:includeNamespace=false:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false:methodName=true} ${message} ${exception:format=ToString,Data}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger final="true" name="historyFile" minlevel="Trace" writeTo="historyFileTarget" />
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
    <logger name="*" minlevel="Warn" writeTo="coloredConsole" />
  </rules>
</nlog>
